@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --primaryColor: #a52a2a;
  --primaryColorLighten: #cf6f6f;
  --primaryColorDarker: #731d1d;
  --primarytextColor: #dee2e6;
  --textColorDarker: #abb5bf;
  --bgColor: #343a40;
  --bgColor-20per: #2a2e33;
  --bgColorScrollThumb: #5a5e61;
  --bgColor-50per: #1a1d20;
}

* {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

.App {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  filter: blur(5.5rem);
  opacity: 0.7;
}

body {
  background-color: var(--bgColor-50per);
  color: var(--primarytextColor);
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  background-color: #731d1d;
  border-radius: 10px;
  height: 5rem;
  transition: all 0.3s;
  z-index: 2;
}

.navbar:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(236, 245, 106, 0.315);
  -moz-box-shadow: 0px 0px 15px 0px rgba(236, 245, 106, 0.315);
  box-shadow: 0px 0px 15px 0px rgba(236, 245, 106, 0.315);
}

.navbar > li {
  display: flex;
  list-style: none;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
}

.navbar > li:nth-of-type(3) {
  justify-content: end;
  padding-right: 40px;
}

.navbar > li:nth-of-type(1) {
  justify-content: start;
  padding-left: 40px;
}

.logo {
  height: 70px;
}

.search {
  flex-basis: 80%;
  height: 2.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.479);
  border: none;
  color: var(--primarytextColor);
  font-size: 1.2em;
  padding-left: 15px;
  transition: all 0.5s;
}

.search:focus {
  outline: none;
  transform: translateY(-2px);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(52, 58, 64, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(52, 58, 64, 1);
  box-shadow: 0px 0px 10px 0px rgba(52, 58, 64, 1);
  background-color: rgba(255, 255, 255, 0.651);
  color: var(--bgColor);
}

.search::placeholder {
  color: var(--primarytextColor);
}

.search:focus::placeholder {
  color: var(--bgColor);
}

.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  display: flex;
  height: 80vh;
  margin-top: 2rem;
  gap: 1.5rem;
  justify-content: center;
  z-index: 3;
}

.box {
  background-color: var(--bgColor-20per);
  width: 38%;
  height: 83vh;
  border-radius: 10px;
  transition: all 0.5s;
  overflow: auto;
  z-index: 3;
}

.box:nth-of-type(1) {
  position: relative;
}

.movielist {
  display: flex;
  flex-direction: column;
}

.movieListDiv {
  display: flex;
  padding: 20px;
  transition: all 0.3s;
  border-radius: 5px;
  border-bottom: 2px solid var(--bgColor);
}

.movieListDiv:hover {
  background-color: var(--bgColor);
  cursor: pointer;
}
.movieListDiv:active {
  background-color: var(--bgColor-20per);
}

.movieListDiv > img {
  height: 20vh;
  border-radius: 5px;
}

.box:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(236, 245, 106, 0.315);
  -moz-box-shadow: 0px 0px 15px 0px rgba(236, 245, 106, 0.315);
  box-shadow: 0px 0px 15px 0px rgba(236, 245, 106, 0.315);
}

.watched {
  height: 15vh;
  background-color: var(--bgColor);
  border-radius: 10px;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.39);
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  transition: all 0.5s;
}

.watched:hover {
  transform: translateY(-2px);
}

.summary {
  display: flex;
  justify-content: space-between;
  gap: 1.4rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

.summary > span {
  cursor: pointer;
}

.summary span p:nth-of-type(2) {
  font-size: 0.8rem;
  font-weight: 700;
}

.summaryheader {
  font-size: 1.5rem;
  padding-top: 1rem;
}

@media (max-width: 750px) {
  .navbar {
    flex-wrap: wrap;
  }
  .navbar > li:nth-of-type(1) {
    display: none;
  }
  .navbar > li:nth-of-type(3) {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-bottom: 5px;
  }
  .navbar > li:nth-of-type(2) {
    flex-direction: column;
    justify-content: end;
    height: 50px;
  }
  .search::placeholder {
    text-align: center;
  }
}

/* imdb CSS LOGO */
.imdb-logo {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000;
  text-shadow: 0 0 0.15em #fff;
  text-decoration: none;
  margin-bottom: 1px;
  margin-top: 4px;
  display: inline-block;
  vertical-align: bottom;
  padding: 0.2em 0.3em;
  border-radius: 0.15em;
  background: radial-gradient(rgb(255, 255, 184), #ce981d);
}

@keyframes loading {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.loading {
  animation: 0.5s infinite alternate loading;
}

.loadingDiv {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  background-color: var(--bgColor);
  border-radius: 6px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--bgColorScrollThumb);
  border-radius: 5px;
  width: 1px;
}

.movieBasicInfo {
  padding-left: 20px;
}

.movieBasicInfo p {
  padding-bottom: 20px;
}

.selectedMovieHeader {
  display: flex;
  height: 40vh;
  overflow: auto;
}

.selectedMovieInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.selectedMovieInfo > * {
  margin-top: 10px;
}

.plotAndRuntimeDiv p:nth-of-type(1) {
  margin-bottom: 10px;
}

.rateSection {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.3s;
}

.rateSection:hover {
  background-color: var(--bgColor);
}

.aditionalInfo {
  margin: 10px;
}

.streamLogo {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 50px;
}

.streamLogo li img {
  width: 80px;
  border-radius: 50%;
  transition: all 0.5s;
}

.streamLogo li img:hover {
  transform: translateY(-4px);
  cursor: pointer;
  box-shadow: ();
}

.streamLogo li:nth-of-type(5) img {
  height: 80px;
}

.trailerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primarytextColor);
  background-color: #731d1d;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  padding-left: 50px;
  padding-right: 50px;
}

.trailerBtn:hover {
  cursor: pointer;
}

.trailerBtn:active {
  box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.4);
}

.trailerBtnDiv {
  display: flex;
  justify-content: center;
}

.defautBtn {
  position: absolute;
  font-size: 25px;
  background-color: var(--primarytextColor);
  border-radius: 50%;
  color: #1a1d20;
  padding: 5px 8px;
}

.defautBtn:active {
  box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.4);
}

.defautBtn:hover {
  cursor: pointer;
}

.trailerCloseBtn {
  color: var(--primarytextColor);
  transition: all 0.3s;
  font-size: 1.3em;
  margin-bottom: 5px;
}

.trailerCloseBtn:active {
  box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.4);
}

.trailerCloseBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.rateSection {
  display: flex;
  flex-direction: column;
}

.addBtn {
  margin-top: 10px;
  color: var(--primarytextColor);
  background-color: #731d1d;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.addBtn:hover {
  cursor: pointer;
}

.addBtn:active {
  box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.4);
}

/* .pop {
  transition: all 01s;
}
.pop:active {
  transform: translateY(500px);
} */

.watchedMovie {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  align-items: center;
  font-size: 1.1rem;
  transition: all 0.5s;
  border-radius: 5px;
}

.watchedMovie:hover {
  transform: scale(1.02);
}

.watchedPoster {
  height: 10vh;
  margin: 5px;
}

.deleteBtn img {
  width: 2em;
}

.deleteBtn {
  transition: all 0.3s;
}

.deleteBtn:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.trailerContainer {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.trailerBox {
  position: absolute;
  width: 40vw;
  left: 30%;
  top: 25%;
}

.trailerBox {
  text-align: end;
}

@media (max-width: 1025px) {
  .container {
    position: relative;
    flex-direction: column;
    width: 100%;
  }
  .box {
    width: 100%;
    overflow: none;
  }
  .small:nth-of-type(1) {
    display: none;
  }
}

.ErrDiv {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.topMoviesBubble {
  background-color: #731d1d;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.topMoviesBubble:nth-of-type(1) {
  left: 37%;
  top: 93.2%;
  width: 12px;
  height: 12px;
  opacity: 0;
  z-index: 8;
}
.topMoviesBubble:nth-of-type(2) {
  left: 10%;
  top: 95.7%;
  width: 100px;
  height: 100px;
  opacity: 0;
  z-index: 7;
}
.topMoviesBubble:nth-of-type(3) {
  left: 82%;
  top: 85.4%;
  width: 50px;
  height: 50px;
  opacity: 0;
  z-index: 6;
}
.topMoviesBubble:nth-of-type(4) {
  left: 72%;
  top: 92.5%;
  width: 190px;
  height: 190px;
  opacity: 0;
  z-index: 5;
}

.topMoviesBubble:nth-of-type(5) {
  left: 13%;
  top: 98.4%;
  width: 90px;
  height: 90px;
  opacity: 0;
  z-index: 4;
}

.topMoviesBubble:nth-of-type(6) {
  left: 49%;
  top: 91.2%;
  width: 170px;
  height: 170px;
  opacity: 0;
  z-index: 3;
}

.topMoviesBubble:nth-of-type(7) {
  left: 88%;
  top: 93.9%;
  width: 56px;
  height: 56px;
  opacity: 0;
  z-index: 2;
}

.topMoviesBubble:nth-of-type(8) {
  left: 65.67%;
  top: 94.6%;
  width: 21px;
  height: 21px;
  opacity: 0;
  z-index: 1;
}

.small:nth-last-of-type(2) {
  overflow: hidden;
}

/* .bubbleImg {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  object-fit: cover;
  transition: all 0.5s;
}

.bubbleImg:hover {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(231, 166, 26, 0.47);
  -moz-box-shadow: 0px 0px 20px 1px rgba(231, 166, 26, 0.47);
  box-shadow: 0px 0px 20px 1px rgba(231, 166, 26, 0.47);
}
 */
